#name {
    float: left;
    padding-left: 130px;
    padding-top: 25px;
    font-size: 30px;
    color: aqua;
    text-decoration: none;
    font-weight: bolder;
}    

#unOrderList{
    list-style: none;
    display: inline-flex;
}

#list{
    padding-left: 40px;
    font-size: 25px;
    color: aqua;
    padding-top: 10px;
    text-decoration: none;
}
#listAnchor{
    text-decoration: none;
    color: aqua;
    border-bottom: 15px;
    padding-bottom: 5px;
}

#listAnchor:hover{
    text-decoration: none;
    color: rgb(22, 115, 255);
    border-bottom: 2px solid white;
}
#header{
    background-color: currentColor;
    position: fixed;
    width: 100%;
    z-index: 10;
}
/* #listAnchor::-webkit-scrollbar-track{
    text-decoration: none;
    color: rgb(22, 115, 255);
    border-bottom: 2px solid white;
} */